body {
  font-family: 'Kalam', cursive;
  background: #333;
}

header {
  padding: 20px;
  /* las propiedades de Flexbox acá */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img { width: 363px; }
a {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  margin-left: 15px;
}
a:hover, a:active { color: #f04500; }
